body {
  position: relative;
}

#home {
  padding-top:50px;
  height:600px;
  color: #000;
  background-color: #fff;
  background: url(uiuc.jpg) no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

#about {
  height:600px;
  background-color: aliceblue;
}

#portfolio {
  height: 600px;
  background-color: #fff;
}

#contact {
  height:600px;
  background-color: aliceblue;
}

#footer {
  height:50px;
  background-color: #fff;
}
